<!-- Page Header -->
<div class="page-header-section">
  <div class="container">
    <div class="row">
      <div class="page-header-area">
        <div class="page-header-content">
          <h2>promtion detail</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->
<!-- Classic Blog Section -->
<section class="classic-blog-section section-padding">
  <div class="container">
    <div class="row">
      <!-- BLog Article Section -->
      <div class="col col-md-9 wow fadeInUp" data-wow-delay="0.3s">
        <!-- Single Blog Post -->
        <article class="blog-post-wrapper">
          <!-- Author Info -->
          <header class="author-info">
            <div class="tag-posted-in">
              <ul class="list-unstyled">
                <li><i class="fa fa-tag"></i> <a href="#">Electronique</a></li>
              </ul>
            </div>
            <div class="author-posted">
              <div class="media">
                <div class="media-left">
                  <a href="#"><img class="img-circle img-responsive" src="http://placehold.it/75x75" alt="magasin"></a>
                </div>
                <div class="media-body">
                  <span class="author-name"><a href="#"><b>Apple Store Bel-Air</b></a></span><br>
                  <span class="published-time"><i class="fa fa-hourglass-half"></i> 4J 3H 2M</span>
                </div>
              </div>
            </div>
          </header>
          <!-- Featured Content -->
          <section class="featured-wrapper">
            <a href="#">
              <img src="http://placehold.it/350x150" alt="produit">
            </a>
          </section>
          <!-- Post Content -->
          <section class="blog-post-content">
            <div>
              <h2 class="blog-post-title"><a href="#">NOM PRODUIT</a></h2>
            </div>
            <div class="blog-post clearfix">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed architecto modi consectetur, vitae dignissimos
                non qui deserunt beatae ut dolor nemo id aliquid itaque, nihil commodi ipsum? Inventore perferendis voluptas
                magni laboriosam cum aliquam impedit facere quae error deserunt. Consequuntur laboriosam impedit pariatur
                officiis nesciunt iste, hic sint adipisci id, nulla quaerat ipsam sed. Ratione eos quibusdam, animi a architecto
                esse quo necessitatibus placeat? Provident minus tempora voluptatum, esse veniam.</p>
              <blockquote class="blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed architecto modi consectetur, vitae dignissimos
                non qui deserunt beatae ut dolor nemo id aliquid itaque</p>
                <a href="#"><span>- Les numériques</span></a>
              </blockquote>
              <h3>Détail du produit</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum nobis quos optio aperiam nesciunt facilis.
                Sunt alias iure ullam ex, <b>voluptate, animi ad quaerat autem!</b></p>
              <img src="http://placehold.it/600x250" class="img-responsive img-thumbnail" alt="">
              <h3>Spécifications techniques</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum rerum, incidunt, cum exercitationem odit
                illo.</p>
       
                <ol>
                  <li>Demo Ordered list item 1</li>
                  <li>Demo Ordered list item 2</li>
                  <li>Demo Ordered list item 3</li>
                  <li>Demo Ordered list item 4</li>
                  <li>Demo Ordered list item 5</li>
                </ol>
             

              
            </div>
          </section>
        </article>
        <div class="portfolio-controls clearfix mb-30">
          <nav>
            <ul>
              <li class="pull-xs-left wow slideInLeft" data-wow-delay="0.3s"><a class="btn btn-outline btn-md" href="#"><i class="fa fa-angle-left"></i></a></li>
              <li class="pull-xs-right wow slideInRight" data-wow-delay="0.3s"><a class="btn btn-outline btn-md" href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </nav>
        </div>
        <!-- About Author -->
        <section class="about-author-section mt-10">
          <div class="media wow fadeIn" data-wow-delay="0.3s">
            <div class="media-left">
              <a href="#"><img class="img-circle img-responsive" src="http://placehold.it/75x75" alt=""></a>
            </div>
            <div class="media-body">
              <h4>Apple Store Bel-Air</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis cumque, quo omnis rem eum ipsam qui. Tempore
                perspiciatis unde architecto quia, enim consectetur accusamus quasi omnis voluptatibus aliquid rem mollitia
                incidunt quibusdam eum, sit magnam, repellendus minima nihil iusto vitae ratione dicta, iste. Vitae, architecto.</p>
            </div>
          </div>
          <div class="author-footer text-sm-center">
            <a class="wow bounceIn" data-wow-delay="0.4s" href="#"><i class="fa fa-facebook icon-box icon-sm"></i></a>
            <a class="wow bounceIn" data-wow-delay="0.5s" href="#"><i class="fa fa-twitter icon-box icon-sm"></i></a>
            <a class="wow bounceIn" data-wow-delay="0.6s" href="#"><i class="fa fa-google-plus icon-box icon-sm"></i></a>
          </div>
        </section>
        <div class="similar-post mt-30 clearfix">
          <h3 class="small-title mb-40 wow fadeIn" data-wow-delay="0.3s">Vous aimerez aussi</h3>
          <div class="col col-md-3 no-pdl wow fadeIn" data-wow-delay="0.4s">
            <a href="#"><img src="http://placehold.it/250x150" alt="" class="img-responsive"></a>
            <a href="#">
              <h2>Promotion proposé</h2>
            </a>
          </div>
          <div class="col col-md-3 no-pdl wow fadeIn" data-wow-delay="0.5s">
            <a href="#"><img src="http://placehold.it/250x150" alt="" class="img-responsive"></a>
            <a href="#">
              <h2>Promotion proposé</h2>
            </a>
          </div>
          <div class="col col-md-3 no-pdl wow fadeIn" data-wow-delay="0.6s">
            <a href="#"><img src="http://placehold.it/250x150" alt="" class="img-responsive"></a>
            <a href="#">
              <h2>Promotion proposé</h2>
            </a>
          </div>
          <div class="col col-md-3 no-pdl wow fadeIn" data-wow-delay="0.7s">
            <a href="#"><img src="http://placehold.it/250x150" alt="" class="img-responsive"></a>
            <a href="#">
              <h2>Promotion proposé</h2>
            </a>
          </div>
        </div>
      </div>
      <!-- End -->
      <!-- Blog Sidebar Section -->
      <div class="col col-md-3">
        <div class="sidebar-area">
          <!-- Tag Cloud -->
          <aside class="widget tag-cloud wow fadeInUp" data-wow-delay="0.3s">
            <h2 class="widget-title">Tags</h2>
            <div class="clearfix">
              <ul>
                <li><a href="#">Electronique</a></li>
                <li><a href="#">Apple</a></li>
                <li><a href="#">Smartphone</a></li>
                <li><a href="#">6S</a></li>
              </ul>
            </div>
          </aside>
          <!-- Recent Post Widgets -->
          <aside class="widget popular-post wow fadeInUp" data-wow-delay="0.3s">
            <h2 class="widget-title">Promotions bientôt expirées</h2>
            <ul>
              <li>
                <div class="media">
                  <div class="media-left">
                    <a href="#"><img class="img-responsive" src="http://placehold.it/75x75" alt=""></a>
                  </div>
                  <div class="media-body">
                    <h4><a href="#">Promotion end soon</a></h4>
                    <span class="published-time"><i class="fa fa-hourglass-half"></i> 4H 22m 35s</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="media">
                  <div class="media-left">
                    <a href="#"><img class="img-responsive" src="http://placehold.it/75x75" alt=""></a>
                  </div>
                  <div class="media-body">
                    <h4><a href="#">Promotion end soon</a></h4>
                    <span class="published-time"><i class="fa fa-hourglass-half"></i> 4H 22m 35s</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="media">
                  <div class="media-left">
                    <a href="#"><img class="img-responsive" src="http://placehold.it/75x75" alt=""></a>
                  </div>
                  <div class="media-body">
                    <h4><a href="#">Promotion end soon</a></h4>
                    <span class="published-time"><i class="fa fa-hourglass-half"></i> 4H 22m 35s</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="media">
                  <div class="media-left">
                    <a href="#"><img class="img-responsive" src="http://placehold.it/75x75" alt=""></a>
                  </div>
                  <div class="media-body">
                    <h4><a href="#">Promotion end soon</a></h4>
                    <span class="published-time"><i class="fa fa-hourglass-half"></i> 4H 22m 35s</span>
                  </div>
                </div>
              </li>
            </ul>
          </aside>
         

        </div>
      </div>
      <!-- End -->
    </div>
  </div>
</section>

