    <!-- Page Header -->
    <div class="page-header-section">
      <div class="container">
        <div class="row">
          <div class="page-header-area">
            <div class="page-header-content">
              <h2>Promotions works !</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->
<router-outlet ></router-outlet>
<!--<app-promotion-list [promotions]="promotions | async"  (onSelect)="select($event)"></app-promotion-list>
<app-category></app-category>-->