<section class="portfolio-2-column-section section-padding">
      <!-- Container Starts -->
      <div class="container">
        <div class="row">
          <h1 class="section-title wow fadeInUpQuick">
            Category
          </h1>
        

          <!-- Portfolio Recent Projects -->
          <div >
            <div class="col col-md-6 col-lg-6 col-sm-6 col-xs-12 mix marketing planning">
              <div class="portfolio-item">
                <div class="portfolio-img">
                  <img src="http://placehold.it/350x150" alt="" />                  
                </div> 
                <div class="portfoli-content">
                  <div class="sup-desc-wrap">
                    <div class="sup-desc-inner">
                      <div class="sup-link">
                        <a class="left-link" (click)="onSelect('electronique')"><i class="icon-arrow-right"></i></a>
                      </div>
                      <div class="sup-meta-wrap">
                        <a class="sup-title" ><h4>ELECTRONIQUES</h4></a>
                        <p class="sup-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 mix branding planning">
              <div class="portfolio-item">
                <div class="portfolio-img">
                  <img src="http://placehold.it/350x150" alt="" />                  
                </div> 
                <div class="portfoli-content">
                  <div class="sup-desc-wrap">
                    <div class="sup-desc-inner">
                      <div class="sup-link">
                        <a class="left-link" href="#"><i class="icon-arrow-right"></i></a>
                      </div>
                      <div class="sup-meta-wrap">
                        <a class="sup-title" href="#"><h4>VETEMENTS</h4></a>
                        <p class="sup-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 mix branding research">
              <div class="portfolio-item">
                <div class="portfolio-img">
                  <img src="http://placehold.it/350x150" alt="" />                  
                </div> 
                <div class="portfoli-content">
                  <div class="sup-desc-wrap">
                    <div class="sup-desc-inner">
                      <div class="sup-link">
                        <a class="left-link" href="#"><i class="icon-arrow-right"></i></a>
                      </div>
                      <div class="sup-meta-wrap">
                        <a class="sup-title" href="#"><h4>ARTICLES DE SPORTS</h4></a>
                        <p class="sup-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 mix marketing research">
              <div class="portfolio-item">
                <div class="portfolio-img">
                  <img src="http://placehold.it/350x150" alt="" />                  
                </div> 
                <div class="portfoli-content">
                  <div class="sup-desc-wrap">
                    <div class="sup-desc-inner">
                      <div class="sup-link">
                        <a class="left-link" href="#"><i class="icon-arrow-right"></i></a>
                      </div>
                      <div class="sup-meta-wrap">
                        <a class="sup-title" href="#"><h4>AUTO / MOTO</h4></a>
                        <p class="sup-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                      </div>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
          </div>
          <!-- End Portfolio Recent Projects -->
        </div>
      </div>
      <!-- Container Ends -->
    </section>
